/* General Home Page Styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Show List Styles */
.show-list {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    gap: 20px;
}

/* Show Item Styles */
.show-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.show-item h2 {
    margin: 0;
    margin-bottom: 10px;
}

.show-item p {
    margin: 0;
}




